<!DOCTYPE html>
{% extends 'base.html' %}
{% block body %}
<div align="center">
    <h2>These Rates Are Fixed By Goverment</h2>
    <table border="2">
        <thead style="background-color: aqua;">
            <th>Name</th>
            <th>Alcohol Level</th>
            <th>Taste</th>
            <th>Color</th>
            <th>Price</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for i in table %}
            <tr align="center">

                <td>{{i.name}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.taste}}</td>
                <td>{{i.color}}</td>
                <td>{{i.price}}</td>
                <td><a style="color: black;" href="update/{{i.id}}">Update</a>&nbsp;&nbsp;<a style="color: black;"
                        href="delete/{{i.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
    <a href="form" class="btn btn-secondary">Add More</a>
</div>
{% endblock %}
